{% extends 'console.html' %} 

{% block workspace %}
<div class="flex lf:flex-row flex-col w-full items-center lf:justify-between lf:items-start lf:pl-[10%] gap-y-[10vh]">
  <section>
    <ul>
      <form method="POST" action="{% url 'authorization:update_roles' team_pk=console.team.id %}">
        {% csrf_token %}
        {% for member in members %}
          <li class="member-card">
            <div>
                <p class="member-name">{{ member.user_id__first_name }} {{ member.user_id__last_name }}</p>
                <p class="member-username">@{{ member.user_id__username }}</p>
            </div>
            <select name="role-{{ member.pk }}" class="rounded-md member-role w-[120px]" {% if "U-M" not in console.perms %}disabled{% endif %}>
              {% for role in roles %}
                  {% if role.role_name == member.role_id__role_name %}
                      <option value="{{ role.pk }}" selected>{{ role.role_name }}</option>
                  {% else %}
                      <option value="{{ role.pk }}">{{ role.role_name }}</option>
                  {% endif %}
              {% endfor %}
            </select>
          </li>
        {% endfor %}
        {% if "U-M" in console.perms %}
        <input type="submit" value="Save" class="save-btn" />
        {% endif %}
      </form>
    </ul>
  </section>
  <div class="mb-[10vh] flex flex-col items-center">
    {% if "C-R" in console.perms %}
    <section class="form-wrapper small-console mt-0 h-fit">
      <h4>Create a Role</h4>
      <form method="POST" action="{% url 'authorization:create_role' team_pk=console.team.id %}">
          {% csrf_token %}
          {% include 'form.html' with form=role_form %}
          <input type="hidden" name="team_id" value="{{ console.team.id }}">
          <input type="submit" value="Create">
      </form>
    </section>
    {% endif %}
    <section class="small-console mt-[35px]">
        <h4>Roles</h4>
        <ul class="w-full mt-[16px] flex flex-col space-y-[10px]">
            {% for role in roles %}
                <li class="flex items-center w-full justify-between px-[32px]">
                    <span class="font-poppins text-[24px] text-grey tracking-[0.06rem] font-[500] min-w-[160px] {% if role.role_name|length > 9 %}cursor-help{% endif %}" {% if role.role_name|length > 10 %}title="{{ role.role_name }}"{% endif %}>{{ role.role_name|truncatechars:9 }}</span>
                    <div class="role-control invisible {% if 'D-R' in console.perms and role.role_name != 'Admin' and role.role_name != 'Member' %}!visible{% endif %}">
                        <a href="{% url 'authorization:delete_role' r_pk=role.pk team_pk=console.team.id %}"><i class="fa-solid fa-trash-can text-red"></i></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
  </div>
</div>
{% endblock %}
